<%- include("includes/head.ejs");  %>
  <body>
    <h1>see your post in detail</h1>
    <p>Post id : <%= post.post_id %></p>
    <hr />
    <div class="post">
      <h5 class="username">@<%= post.username %></h5>
      <p class="content"><%= post.content %></p>
    </div>
  </body>
</html>
