body {
  margin-left: 100px;
  margin-right: 100px;
}
h1 {
  color: maroon;
}
.post {
  background-color: blanchedalmond;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 20px;
}
.post:hover {
  box-shadow: 3px 3px #888888;
}

.username {
  font-style: italic;
}
.deleteform {
  display: inline-block;
}
a {
  text-decoration: none;
}
